---
import Layout from '../layouts/Layout.astro';
import { Heading } from '@navikt/ds-react';
import AstroIslandExample from '@src/components/astro-island/AstroIsland.astro';
---

<Layout>
  <div>
    <div>
      <Heading size={'large'}> tms-astro-template-azure </Heading>
    </div>
  </div>
  <AstroIslandExample server:defer>
    <div slot="fallback">Navn: Laster inn data...</div>
  </AstroIslandExample>
</Layout>
